#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    background-color: blue;
}

#container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    background-color: blue;
}